{% extends 'template_base.html' %}
{% block content %}

{% if form.errors %}
    <p>Seu usuário e senha não coincidiram, por favor tente novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não tem acesso a essa página. Para proceder, por favor faça login com uma conta que tenha acesso.</p>
    {% else %}
    <p>Por favor faça login para visualizar essa página.</p>
    {% endif %}
{% endif %}
<div class="login-centralizado">
    <h2 class="texto-centralizado cor-fonte-marrom">LOGIN</h2>
    </br>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="alinha-form">
            <tr>
                <td class="form-padding">Usuário:</td>
                <td class="form-padding">{{ form.username }}</td>
            </tr>
            <tr>
                <td class="form-padding">Senha:</td>
                <td class="form-padding">{{ form.password }}</td>
            </tr>
        </table>
        <div class="texto-centralizado">
        <input class="btn botao" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
    </br>
    <p class="texto-centralizado"><a class="link" href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
</div>

{% endblock %}