{% extends "template_base.html" %}

{% block content %}
{% if validlink %}
<div class="row justify-content-center">
	<div class="form-group col-md-6">
		<div class="jumbotron">
            <h2 class="texto-centralizado cor-fonte-marrom">Digite a sua nova senha:</h2>
            </br>
            <form action="" method="post">
                {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nova senha:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirme a senha:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="pt-2"><input class="btn botao" type="submit" value="Confirmar" /></td>
                        </tr>
                    </table>
                </form>
            </br>
            <div class="texto-centralizado">
				<a class="link" href="{% url 'pagina_inicial' %}">Clique aqui para voltar para a página inicial</a>
			</div>
		</div>
	</div>
{% else %}
</br>
<h2>Erro ao alterar senha</h2>
</br>
<p>Houve um erro ao tentar redefinir sua senha. Possivelmente, o link enviado é inválido pois já foi utilizado. Por favor, faça o pedido de alterar sua senha novamente.</p>
{% endif %}
{% endblock %}