{% extends 'template_base.html' %}
{% block content %}

<div class="row justify-content-center pt-4">
	<div class="form-group col-md-6">
		<div class="jumbotron">
			
            <h2 class="text-center cor-fonte-marrom">LOGIN</h2>

			<hr class="my-4">

			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}

				<div class="row justify-content-center">
					<div class="form-group col-md-8 p-2">
						Usuário:
						{{ form.username }}
						<div class="alerta-vermelho">{{ form.username.errors }}</div>
					</div>
				</div>

                <div class="row justify-content-center">
					<div class="form-group col-md-8 p-2">
						Senha:&nbsp;&nbsp;&nbsp;
						{{ form.password }}
						<div class="alerta-vermelho">{{ form.password.errors }}</div>
					</div>
				</div>

				<div class="text-center">
					<div class="form-group">
						<div class="row justify-content-lg-center">
							<div class="col-lg-7 col-lg-offset-3 .col-md-4">
								<input type="submit" name="submit" value="Entrar" class="btn botao col-xs-8 .col-md-8"/>
							</div>
						</div>
					</div>
					<input type="hidden" name="next" value="{{ next }}"/>
					<p><a class="link" href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}