{% extends "template_base.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="form-group col-md-6">
		<div class="jumbotron">
            <h2 class="texto-centralizado cor-fonte-marrom">Altere a sua senha:</h2>
            </br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="alerta-vermelho">{{ form.email.errors }}</div>
                <p class="texto-centralizado">Email: {{ form.email }}</p>
                <div class="text-center">
                    <div class="form-group">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-7 col-lg-offset-3 .col-md-4">
                                <input type="submit" name="submit" value="Entrar" class="btn botao col-xs-8 .col-md-8"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </br>
            <div class="texto-centralizado">
				<a class="link" href="{% url 'pagina_inicial' %}">Clique aqui para voltar para a página inicial</a>
			</div>
		</div>
	</div>
{% endblock %}