/* Variáveis */

:root{
    --marrom_escuro: rgba(62, 39, 4, 0.864);
    --bege: rgba(255, 235, 204, 0.829);
    --marrom_jumbotron: rgba(62, 39, 4, 0.075);
    --marrom_sidebar: rgba(62, 39, 4, 0.144);
    --marrom_tabela: rgba(62, 39, 4, 0.664);
}

/* Classes */

.fundo-marrom-escuro{
    background-color: var(--marrom_escuro);
}

.fundo-total{
    background-color: var(--bege);
}

.cor-fonte-branca{
    color:white;
}

.alerta-vermelho{
    color:rgb(206, 0, 0);
    font-weight:500;
    font-size:small;
}

.titulo-navbar{
    font-family: 'Outfit', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-login{
    margin-right: 8% !important;
}

.fonte-outfit{
    font-family: 'Outfit', sans-serif;
}
.fonte-georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.itens-navbar{
    font-weight:400;
}

.itens-dropdown{
    font-weight:500;
    color: var(--marrom_escuro);
}

.botao{
    background-color: var(--marrom_escuro);
    color:white;
}

.cor-fonte-marrom{
    color: var(--marrom_escuro);
}

.link{
    color: var(--marrom_escuro);
}

a:hover{
    color: var(--marrom_escuro);
}

.bloco-texto{
    padding: 5% 0;
    /* border: 3px solid green; */
    margin: auto;
    width: 95%;
}

.login-centralizado{
    padding: 15% 0;
    margin: auto;
    width: 20%;
    /* border: 3px solid yellow!important; */
}

.alinha-form{
    margin: auto;
    width: 15%;
    padding-bottom:7%;
}

.form-padding{
    padding-bottom:7%;
}

.texto-centralizado{
    text-align:center;
}


.sidebar {
    padding-bottom: 59.5vh;
    padding-left:1%;
    padding-top:4%;
    border-right: 1px solid var(--marrom_sidebar);
}

.sidebar .nav-item .nav-link {
	color: var(--marrom_escuro)
}

.sidebar .nav-item .nav-link.active {
    background-color: transparent;
	font-weight: bold;
}

.jumbotron{
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:var(--marrom_jumbotron)!important;
    border-radius:.3rem
}

.table-bordered{
    border:1px solid var(--marrom_tabela);
}

.coluna-alterar-status{
    width:10%;
}

.texto-alinhado-direita{
    text-align:end;
}