{% extends "template_base.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="jumbotron">
            <h2 class="texto-centralizado cor-fonte-marrom">Cadastrar novo usuário</h2>
            </br>
            <form class="form-horizontal" action="{% url 'cadastro_usuario' %}" method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="row justify-content-center">
					<div class="col-md-8">
						<label>{{ field.label_tag }}</label>
						<div class="col-xs-9">{{ field }}</div>
						<div class="alerta-vermelho">{{ field.errors }}</div>
					</div>
				</div>
				{% endfor %}
				</br>
				<div class="text-center">
                    <div class="form-group">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-7 col-lg-offset-3 .col-md-4">
                                <input type="submit" name="submit" value="Entrar" class="btn botao col-xs-8 .col-md-8"/>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </br>
            <div class="texto-centralizado">
				<a class="link" href="{% url 'pagina_inicial' %}">Clique aqui para voltar para a página inicial</a>
			</div>
		</div>
	</div>
{% endblock %}