{% extends 'template_base.html' %}

{% block content %}
<div class="bloco-texto">
</br>
<h1 class="fonte-outfit">Perguntas Frequentes</h1>
</br>
<ul>
    <li><b>O que é o tabulando.com?</b></li>
    <p>O tabulando.com é um site no qual os usuários podem guardar suas informações sobre suas coleções de jogos de tabuleiro. Cada usuário mantém seu catálogo pessoal, e pode adicionar informações como o status do jogo "Tenho", "Desejado", "Vendido", etc. Além disso, para usuários premium, é possível ver algumas estatísticas sobre esse catálogo, como o que indica quais são as editoras que mais apareceram na sua coleção.</p>

    <li><b>Como posso me tornar um usuário premium?</b></li>
    <p>Basta mandar um e-mail para <a class="link" href="mailto:tabulandosite@gmail.com">tabulandosite@gmail.com</a> indicando que deseja se tornar premium. A equipe irá avaliar e, caso seja aprovado, a equipe te mandará um e-mail quando você receber os privilégios.</p>

    <li><b>Como eu adiciono um jogo a minha coleção?</b></li>
    <p>Para isso, basta ir na página de <a class="link" href="{% url 'catalogo' %}">Catálogo</a> e clicar no ícone "+" presente no canto superior direito da tabela. Caso o jogo ainda não esteja na nossa base de dados, é preciso <a class="link" href="{% url 'cadastrar_jogo' %}">cadastrá-lo</a> antes para depois adicionar o registro.</p>

    <li><b>Como eu posso alterar uma informação de um jogo?</b></li>
    <p>Apenas membros da equipe podem alterar jogos cadastrados na nossa base de dados. Usuários apenas podem alterar o status do jogo. Para fazer uma solicitação para alterar a informação de algum jogo, mande um e-mail para tabulandosite@gmail.com</p>
</ul>
</div>
{% endblock %}