{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabulando</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'tabulando/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'tabulando/img/favicon_meeple.png' %}"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
</head>

<body class="fundo-total">
    <nav class="navbar navbar-expand-lg navbar-dark fundo-marrom-escuro">
        <a class="navbar-brand titulo-navbar" href="#">TABULANDO</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse itens-navbar" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item {% if request.get_full_path == '/'%}active{% endif %}">
                    <a class="nav-link {% if request.get_full_path == '/'%}active{% endif %}" href="{% url 'pagina_inicial' %}">Página Inicial</a>
                </li>
                <li class="nav-item {% if request.get_full_path == '/faq/'%}active{% endif %}">
                    <a class="nav-link {% if request.get_full_path == '/faq/'%}active{% endif %}" href="{% url 'faq' %}">Perguntas Frequentes</a>
                </li>
                <li class="nav-item {% if request.get_full_path == '/contato/'%}active{% endif %}">
                    <a class="nav-link {% if request.get_full_path == '/contato/'%}active{% endif %}" href="{% url 'contato' %}">Contato</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-login">
                <li class="nav-item dropdown">
                    {% include "login_dropdown.html" %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid main-container">
        <div class="row main-row">
            {% if user.is_authenticated %}
            <div class="col-lg-2 offset-sm-1 sidebar">
                <ul class="nav nav-pills nav-stacked flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/'%}active{% endif %}"
                            href="{% url 'pagina_inicial' %}">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/faq/'%}active{% endif %}"
                            href="{% url 'faq' %}">Perguntas frequentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/catalogo/'%}active{% endif %}"
                            href="{% url 'catalogo' %}">Catálogo de Jogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/historico_jogos/'%}active{% endif %}"
                            href="{% url 'historico_jogos' %}">Histórico de Jogos</a>
                    </li>
                    {% if perms.projeto.pode_ver_estatisticas %}
                    <li class="nav-item">
                        <a class="nav-link {%  if request.get_full_path == '/estatisticas/' %}active{% endif %}"
                            href="{% url 'estatisticas' %}">Estatísticas</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-8 main-content">
            {% else %}
            <div class="col-lg-8 offset-lg-2 main-content">
            {% endif %}
            <div class="bloco-texto">
                {% block content %}{% endblock %}
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>



</html>